body{
    background-image: "url('library-books.jpg')";
    width: 100%;
    height: 400px; /* Set an appropriate height */
    background-size: cover; /* Adjust this property based on your needs */
}

.navbar-custom {
    background-color: #994D1C;
}

.left{
    background-color: #E48F45;
}

.background-div {
    background-image: "url('library-books.jpg')";
    height: 400px; /* Set an appropriate height */
    background-size: cover; /* Adjust this property based on your needs */
}